@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background: #c0c0c0;
    font:
        16px "Public Sans",
        system-ui;
    margin: 0;
    padding: 0;
    color: #fdfdfd;
}

nav {
    display: flex;
    white-space: nowrap;
    background: #0e235c;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #6ce2f0;
    z-index: 8;
}

nav .tabs {
    display: flex;
}

nav .logo {
    padding: 10px;
    user-select: none;
    margin: 0 100px 0 10px;
    background: url(./images/banner.png) no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 20px;
}

nav .tabs a {
    margin: 5px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    color: #fdfdfd;
}

nav .tabs a:hover {
    background: #6ce2f0;
    color: #0e235c;
}

.mount {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
}

.mount.show {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
}

.mount.show .popup {
    animation: show 200ms forwards ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.popup {
    background: #fdfdfd;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 0 3px #000);
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: #f04747;
    font-size: 18px;
    user-select: none;
}

.popup .content {
    display: flex;
    height: 100%;
    width: 100%;
}

.popup .content .image {
    background: url(./images/icon.png) no-repeat center center;
    background-size: cover;
    width: 70%;
    height: 100%;
}

.popup .content .text {
    width: 30%;
    height: 100%;
}

.popup .content .text h2 {
    margin: 0;
    padding: 20px 30px;
    font-size: 40px;
    color: #0e235c;
}

.popup .content .text p {
    margin: 0;
    padding: 20px 30px;
    font-size: 20px;
    color: #0e235c;
}

.popup .content .text p.price {
    background: #0e235c;
    color: #6ce2f0;
    width: max-content;
    margin: 20px 30px;
    padding: 10px 20px;
    border-radius: 5px;
}

.popup .content .text h3 {
    margin: 0;
    padding: 20px 30px;
    font-size: 20px;
    color: #0e235c;
    text-transform: uppercase;
    border-bottom: 1px solid #0e235c;
    width: max-content;
}


main .banner {
    margin-top: 41px;
    height: 500px;
    background: #0e235c;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .banner .img {
    background: url(./images/banner.png) no-repeat center center;
    background-size: contain;
    height: 80%;
    width: 100%;
}

nav .menu {
    display: none;
    margin: 8px 10px;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    padding: 3px;
    border-radius: 3px;
}

nav .menu .line {
    height: 2px;
    width: 18px;
    background: #fdfdfd;
    margin: 3px;
}

input.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

main .default {
    display: none;
    margin-top: 40px;
    opacity: 0;
}


main .default.show {
    display: block;
    animation: fadeIn 1s forwards ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: 40px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

h1 {
    font-size: 80px;
    margin: 20px auto auto 10%;
    border-bottom: 3px solid #6ce2f0;
    width: max-content;
    color: #0e235c;
    text-transform: capitalize;
    user-select: none;
}

main .content.show {
    display: block;
    animation: fadeIn 1s forwards ease-in-out;
}

main .content {
    display: none;
    margin-top: 40px;
    opacity: 0;
}

.gallery {
    margin: 60px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.gallery .item {
    background: url(./images/icon.png) no-repeat center center;
    background-size: cover;
    width: calc(100% / 3 - 7px);
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 10px 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 200ms;
}

.gallery .item:nth-child(3n) {
    margin: 0 0 10px 0;
}

.gallery .item div {
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 60%, transparent);
    user-select: none;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    transition-duration: 200ms;
}

.gallery .item:hover {
    background-size: 140% !important;
}

.gallery .item:hover div {
    height: 150px;
}


.gallery .item:hover h2 {
    font-size: 40px;
}


.gallery .item:hover p {
    font-size: 22px;
}

.item h2 {
    transition-duration: 200ms;
    margin: 0;
    padding: 10px 0 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item p {
    margin: 0;
    padding: 6px 10px;
    font-size: 14px;
    transition-duration: 200ms;
}

.default a {
    display: flex;
    margin-top: 60px;
    text-decoration: none;
}

.default .list {
    margin: 0 0 auto 10%;
    width: 550px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    display: flex;
    transition-duration: 200ms;
}

.default .list:hover {
    width: 80%;
}

.default .list img {
    width: 93px;
    height: 93px;
    margin: 0 0 0 10px;
    border-radius: 5px;
}

.default .list h2 {
    font-size: 40px;
    padding: 20px 40px;
    display: flex;
    background: #0e235c;
    width: max-content;
    color: #6ce2f0;
    border-radius: 5px;
    margin: auto;
    text-transform: capitalize;
}

.default .list h2:after {
    content: "➜";
    margin: 0 0 0 20px;
}

.default .overflow {
    width: 93px;
    height: 93px;
    margin: 0 0 0 -40px;
    background: linear-gradient(90deg, #c0c0c0 60%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    transform: rotate(180deg);
    color: #0e235c;
    user-select: none;
}

.order {
    position: fixed;
    top: 0;
    right: 0;
    background: #6ce2f0;
    z-index: 100;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    color: #0e235c;
    user-select: none;
    border: 1px solid #0e235c;
}

.order:hover {
    background: #0e235c;
    color: #6ce2f0;
    border: 1px solid #6ce2f0;
}

.order svg {
    margin: 0 0 -4px 0;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1200px) {
    nav .menu {
        display: block;
    }

    nav .tabs {
        display: none;
    }

    input.nav:checked + nav .tabs {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 41px;
        right: 0;
        background: #0e235c;
        width: 100%;
        height: 100%;
    }

    input.nav:checked + nav .tabs a {
        margin: 10px;
        padding: 10px 0;
    }

    main .banner {
        height: 200px;
    }

    main .banner .img {
        width: 80%;
    }

    .gallery {
        display: block;
    }

    .gallery .item {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .order {
        margin: 4px 45px 0 0;
    }
}

